:root {
    --font-family: Formative;
    --primary-color: #FFFFFF;
    --second-color: #101828;
    --text-dark: #101010;
    --text-light: #FFFFFF;
    --text-average: #757B8A;

}

@font-face {
    font-family: 'Formative';
    src: url('/fonts/formative-font-family-1765199777-0/FormativeTrial-Regular-BF656fed9028715.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Formative';
    src: url('/fonts/formative-font-family-1765199777-0/FormativeTrial-Bold-BF656fed900a747.otf') format('opentype');
    font-weight: 700;
}

