:root {
    --font-family: Formative
}

@font-face {
    font-family: 'Formative';
    src: url('/fonts/formative-font-family-1765199777-0/FormativeTrial-Regular-BF656fed9028715.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Formative';
    src: url('/fonts/formative-font-family-1765199777-0/FormativeTrial-Bold-BF656fed900a747.otf') format('opentype');
    font-weight: 700;
}

#bg-banner {
    background-image: url('/Assets/bgi-petshop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

.header{
    display: flex;
    padding: clamp(18px, calc(28px + (18 - 28) * ((100vw - 390px) / 1050)), 28px) clamp(18px, calc(18px + (80 - 18) * ((100vw - 390px) / 1050)), 80px) 0 clamp(15px, calc(15px + (80 - 15) * ((100vw - 390px) / 1050)), 80px);
}


.header-desktop{
    display: flex;
    gap: 20rem;
    margin-left: 50px ;
    align-items: center;
}

.options{
    gap: 32px;
    color: white;
    opacity: 80%;
    font-size: 1rem;
    white-space: nowrap;
    height: 20px;
}

.more{
    gap: 8px;
}

.options img{
    width: 20px;
    height: 20px;
}

#get-started{
    background-color: white;
    border-radius: 50px;
    padding: 10px 18px;
}

#get-started a{
    text-decoration: none;
    color: #101828 ;
}

#header-desktop {
    display: none;
}

#logo-pawsplay {
    display: flex;
    gap: 11px
}

#logo-pawsplay h1 {
    font-size: 20px;
    color: white;
}

#main {
    padding: 0 16px
}

#logo-pawsplay img {
    width: 32px;
    height: 32px
}


.header-desktop {
    display: none;
}

.text-hero {
    padding-top: clamp(112px, 5.8627rem + 4.666vw, 161px);
    padding-right: clamp(50px, -12.66rem + 64.76vw, 730px);
    padding-left: clamp(27px, 0.4572rem + 5.0476vw, 80px);
    padding-bottom: 3rem;
}

.text-hero p {
    font-size: clamp(14px, 0.8286rem + 0.1905vw, 16px);
    color: white;
    letter-spacing: 0%;
    line-height: 1.5rem;
    padding-bottom: clamp(30px, calc(50px - 20px * ((100vw - 390px) / (1440px - 390px))), 50px);

}


.text-hero h1 {
    font-size: clamp(30px, 1.1786rem + 2.857vw, 60px);
    color: white;
    font-weight: 400;
    padding-bottom: clamp(10px, 1.42vw, 20px);
    line-height: 100%;
    letter-spacing: 2%;
}

.button-shop-now {
    display: inline-flex;
    gap: 14px;
    border: solid 1px;
    border-color: white;
    align-items: center;
    border-radius: 50px;
    padding: 18px 28px;
}

.button-shop-now a {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    text-decoration: none;
    color: white;
}


@media(min-width:1024px) {

    .header-mobile{
        display: none;
    }

    .header-desktop{
        display: flex;
    }

    .options{
        display: flex;
    }

    .specific-options{
        display: flex;
    }

    #logo-pawsplay{
        display: flex   ;
    }

    

}